{% load static %}
<!DOCTYPE html>
<html>


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap" rel="stylesheet">

<head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet.heat@0.2.0/dist/leaflet-heat.js"></script>
</head>

<!-- For dark or light mode -->

<link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">

<!-- File specific Styles -->
<style>
    html, body {
        margin: 0;
        padding: 0;
        height: fit-content;
        min-height: 100%;
    }

    #map{
        cursor: pointer;
        height: min(650px, 65vh);
        margin: 8px;
        margin-right: 0px;
    }

    @media only screen and (max-width: 800px){
        #map{
            height: 400px;
        }
    }

    .main{
        overflow-y: auto; 
    }

    table {
        cursor: default;
    }
    table, th, td{
        border: 3px solid black;
        border-collapse: collapse;
    }
    .sightingRow{
        transition: all 0.25s ease;

    }
    .sightingRow:hover{
        background-color: aquamarine;
    }

    #AddPointDiv{
        display: none;
    }

    #addPointButton{
        display: block;
    }

    #askForClick {
        display: none;
    }

    button {
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;
    }

    #askForClicking, #askForLocation, .confirmBtn   {
        border: 2px solid black;
    }

    #askForClicking, #askForLocation, .animalImg, .confirmBtn{
        margin: 5px;
        border-radius: 5px;
        transition: all 0.2s ease;
    }

    #askForClicking:hover, #askForLocation:hover, .animalImg:hover, .confirmBtn:hover{
        background-color: var(--color_table_hover);;
        transform: translate(-2px, -2px);
        box-shadow: 20px 20px 20px rgba(0,0,0,.5);
    }

    .mannerImg, .animalImg, .confirmBtn{
        width: 60px;
        height: 60px;
    }

    #selectedLocation:hover{
        cursor: default;
    }

    .NonSelectedAnimal{
        filter: grayscale(100%);
    }

    .selectedManner{
        background-color: var(--color_table_hover);
    }

    .selectedAnimal {
        filter: none;
    }

    .confirmBtn{
        margin: 2px;
    }

    .NavBar{
        padding-left: 8px;
        padding-top: 8px;
    }

    .addingStuff{
        border: 2px solid black;
        border-radius: 10px;
        margin-left: 10px;
    }

    #confirmBtn {
        margin-left: 5px;
    }

    #addedConfirmSpan{
        display: none;
    }

    #id_label{
        margin-left: 5px;
    }
</style>


<body class="dark_mode">
    <div class="NavBar dark_mode" id="navbar">
        <a title="One" class="item1 items" href="/">
            <img width="65" height="65" src='{% static "Map.png" %}'>                              
        </a>
        <a title="Two" class="item2 items" href="/addSightingPage">
            <img width="40" height="40" src='{% static "Plus.png" %}'>                              
        </a>
        <a href="/discussionsPage" class="item3 items">
            <img width="40" height="40" src="{% static 'Threads.png' %}">
        </a>
        <a href="/guidelinesPage" class="item4 items">
            <img width="40" height="40" src="{% static 'guidelines.png' %}">
        </a>
        <a title="change theme" class="dark items" id="changeTheme">
            <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g id="sun-and-moon">
            <g id="moon" class="night">
                <path id="moon_2" fill-rule="evenodd" clip-rule="evenodd" d="M50.5 73C62.9264 73 73 62.9264 73 50.5C73 49.6864 72.9568 48.8828 72.8726 48.0916C71.8418 56.4937 64.6807 63 56 63C46.6112 63 39 55.3888 39 46C39 36.6112 46.6112 29 56 29C56.4418 29 56.8797 29.0169 57.313 29.05C55.1639 28.368 52.8749 28 50.5 28C38.0736 28 28 38.0736 28 50.5C28 62.9264 38.0736 73 50.5 73Z" fill="#FFE792"/>
            </g>
            <g id="Sun" class="day">
                <circle id="Sun_inner" cx="50.5" cy="50.5" r="22.5" fill="#FFC703"/>
                <circle id="Sun_outer" cx="50.5" cy="50.5" r="28.5" fill="#FF8D3B" fill-opacity="0.5"/>
            </g>
            <g id="Stars" class="night">
                <path id="Star 1" class="stars" d="M68.5 13L69.9593 17.4914H74.6819L70.8613 20.2672L72.3206 24.7586L68.5 21.9828L64.6794 24.7586L66.1387 20.2672L62.3181 17.4914H67.0407L68.5 13Z" fill="#FCFF68"/>
                <path id="Star 2" class="stars" d="M21 31L21.8981 33.7639H24.8042L22.4531 35.4721L23.3511 38.2361L21 36.5279L18.6489 38.2361L19.5469 35.4721L17.1958 33.7639H20.1019L21 31Z" fill="#FCFF68"/>
                <path id="Star 3" class="stars" d="M45 77L45.6735 78.7275H47.8532L46.0898 79.7951L46.7634 81.5225L45 80.4549L43.2366 81.5225L43.9102 79.7951L42.1468 78.7275H44.3265L45 77Z" fill="#FCFF68"/>
            </g>
            </g>
            </svg>
        </a>
    </div>

    <div class="main">
        <div id="map"></div>
        
        <!-- Add a new point -->
        <div class="addingStuff">
            <div class="addingManner">
                <button onclick="setManner('click', this);" id="askForClicking">
                    <img class="mannerImg" src="{% static 'SelectMap.png' %}" alt="Click on Map">
                </button>
                <button onclick="setManner('ask', this); getLocation()" id="askForLocation"> 
                    <img class="mannerImg" src="{% static 'AutoLocate.png' %}" alt="Automatically Set">
                </button>
                <button id="selectedLocation" disabled>Selected Location: ~</button>
            </div>
            
            <div class="addAnimal">
                {% for animal in animals %}
                    <button onclick="setAnimal('{{animal.id}}', '{{animal.animal}}', this)">
                        <img class="animalImg" src='{% static ""|add:animal.animal|add:".jpg" %}' alt="Automatically Set">
                    </button>
                {% endfor %}
            </div>

            <label id="id_label" for="ID">ID_No. - </label>
            <input type="text" name="ID" id="ID_input">

            <div id="addConfirmation">
                <button onclick="sendPostRequest()" id="confirmBtn" disabled>
                    <img class="confirmBtn" src="{% static 'tick.png' %}" alt="Confirm">
                </button>
                <span id="addedConfirmSpan">Added :)</span>
            </div>
        </div>

    </div>

    <button id="SOSButton" onclick="sendSOS();">SOS</button>

    <div id="customAlert" class="alert">
        <div class="alert-content">
            <span class="close-btn" onclick="closeAlert()">X</span>
            <br>
            <p>Medical Center: +91-6969696969</p>
            <br>
            <p>Veterinarian: +91-6969696969</p>
            <br>
            <p>Warden: +91-6969696969</p>
        </div> 
    </div>
</body>

<!-- For light and dark mode -->
<script>
    const body = document.body;
    const navbar = document.getElementById("navbar");
    const button = document.getElementById("changeTheme");
    var theme = localStorage.getItem('Storagetheme'); //true is light mode

    // theme = localStorage.getItem('theme');
    if(theme != null){
        if(theme == 'light'){
            body.classList.replace('dark_mode', 'light_mode');
            navbar.classList.replace('dark_mode', 'light_mode');
            button.classList.replace('dark', 'light');

        } else {
            body.classList.replace('light_mode', 'dark_mode');
            navbar.classList.replace('light_mode', 'dark_mode');
            button.classList.replace('light', 'dark');
        }
    }

    button.onclick = () => {
        if(theme != 'light'){
            body.classList.replace('dark_mode', 'light_mode');
            navbar.classList.replace('dark_mode', 'light_mode');
            button.classList.replace('dark', 'light');

            localStorage.setItem('Storagetheme', 'light');
            theme = 'light';

        } else {
            body.classList.replace('light_mode', 'dark_mode');
            navbar.classList.replace('light_mode', 'dark_mode');
            button.classList.replace('light', 'dark');
            theme = 'dark';
            localStorage.setItem('Storagetheme', 'dark');
        }
    }
</script>


<script>
    const x = 17.543610;
    const y = 78.574729;
    var map = L.map('map', {
        minZoom: 16,
        maxZoom: 18,
        maxBounds: [
            [17.550314, 78.565750],
            [17.536213, 78.580764]
        ]
    }).setView([x, y], 16);
    let max_heat_map_val = 0;

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        //maxZoom: 17,
        attribution: '© OpenStreetMap contributors'
    }).addTo(map);


    map.on('click', function(e) {
        if(settingLocation == false){
            return;
        }
        var lat = e.latlng.lat; // Latitude of the clicked point
        var lng = e.latlng.lng; // Longitude of the clicked point
        
        selectedLocation['latitude'] = "" + lat;
        selectedLocation['longitude'] = "" + lng;
        settingLocation = false;
        selectedLocDiv.innerHTML = `Selected Location: (${lat.toFixed(5)}, ${lng.toFixed(5)})`;

        if(selectedAnimal != ""){
            enableConfirmButton();
        }

        
        if(currentSelectedMarker != null){
            map.removeLayer(currentSelectedMarker);
            currentSelectedMarker = null;
        }
        currentSelectedMarker = L.marker([lat, lng]).addTo(map);
        //console.log("clicked at: " + lat + ", " + lng);
    })

    // Create an empty array to store heatmap data
    var heatmapData = [];

    // Create a heatmap layer using Leaflet.heat
    var heatmapLayer = L.heatLayer(heatmapData, {
        radius: 30, // Adjust the radius
        max: 1.0,   // Adjust the maximum
    }).addTo(map);

    heatmapLayer.on('mouseover', function (event) {
        console.log("Hellp ")
        var latlng = event.latlng;
        var marker = L.marker(latlng).addTo(map);
        marker.bindPopup('Point Details'); // Add a popup to the marker if needed
        marker.openPopup();
    });
    
    heatmapLayer.on('mouseout', function () {
        map.closePopup(); // Close the marker's popup
        map.eachLayer(function (layer) {
            if (layer instanceof L.Marker) {
                map.removeLayer(layer); // Remove the marker from the map
            }
        });
    });

    // Function to add a random point to the heatmap
    function addRandomPoint() {
        var randomLat = x + Math.random() * 0.005; // Adjust latitude range as needed
        var randomLong = y + Math.random() * 0.005; // Adjust longitude range as needed
        var randomIntensity = 1 ;
        
        addPoint(randomLat, randomLong, randomIntensity);
    }

    function clearPoints(){
        heatmapData = [];
        max_heat_map_val = 0;

        map.removeLayer(heatmapLayer);
        heatmapLayer = L.heatLayer(heatmapData, {
            radius: 10,
            max: 0.1,
        }).addTo(map);

        console.log("Cleared all points; Current max: ", max_heat_map_val);

    }

    function addPoint(lat, long, intensity){
        var newPoint = [lat, long, intensity];
        heatmapData.push(newPoint);

        if(intensity > max_heat_map_val)
            max_heat_map_val = intensity;

        map.removeLayer(heatmapLayer);
        heatmapLayer = L.heatLayer(heatmapData, {
            radius: 10,
            max: 0.1,
        }).addTo(map);

        //console.log('Added new point:', newPoint, " Current max: ", max_heat_map_val);
    }

    // Not very accurate, gets location using location API
    function getLocation(){
        if (settingLocation == true && 'geolocation' in navigator) {
            navigator.geolocation.getCurrentPosition(function(position) {
                var latitude = position.coords.latitude;
                var longitude = position.coords.longitude;
                
                selectedLocation['latitude'] = `${latitude}`;
                selectedLocation['longitude'] = `${longitude}`;

                settingLocation = false;
                selectedLocDiv.innerHTML = `Selected Location: (${latitude.toFixed(5)}, ${longitude.toFixed(5)})`;
                if(selectedAnimal != ""){
                    enableConfirmButton();
                }
                
                if(currentSelectedMarker != null){
                    map.removeLayer(currentSelectedMarker);
                    currentSelectedMarker = null;
                }
                
                currentSelectedMarker = L.marker([+latitude, +longitude]).addTo(map);
                
            });
        } else {
            console.error('Geolocation is not available in this browser.');
        }
    }

    let markers = {}
    let aniName = "";
    {%for animal in animals%}
        aniName = '{{animal.animal}}'
        var animalLabel = L.icon({
            //iconUrl: 'https://i.imgur.com/RoBYgu4.jpg',
            iconUrl: `{% static ""|add:animal.animal|add:".jpg" %}`,
            iconSize: [32, 32], // width and height of the icon in pixels
            iconAnchor: [16, 16], // position of the icon anchor (centered at the bottom)
            popupAnchor: [0, -32] // position of the popup anchor (above the icon)
        });

        markers['{{animal.animal}}'] = animalLabel;
    {%endfor%}

    // For when you hover on table
    var currentHoverMarker = null;

    // Adds marker when you hover on table
    function addMapMarker(latitude, longitude, animal){
        if(currentHoverMarker != null){
            map.removeLayer(currentHoverMarker);
            currentHoverMarker = null;
        }

        currentHoverMarker = L.marker([+latitude, +longitude], {icon: markers[animal]}).addTo(map);
    }

    // Removes marker when you stop hovering
    function removeMapMarker(){
        if(currentHoverMarker != null){
            map.removeLayer(currentHoverMarker);
            currentHoverMarker = null;
        }
    }

    const addButton = document.getElementById("addPointButton");
    const addDiv = document.getElementById("AddPointDiv");
    const confirmDiv = document.getElementById('addConfirmation');
    const selectedLocDiv = document.getElementById("selectedLocation");
    const askForClickDiv = document.getElementById('askForClick');
    const sightingsTableBody = document.getElementById("sightingsTableBody");
    const confirmButton = document.getElementById('confirmBtn');

    const ID_text_input = document.getElementById("ID_input");

    var currentSelectedMarker = null;

    var selectedAnimal = 0;
    var selectedAnimalName = "";
    var selectedManner = "";
    var settingLocation = false;

    var selectedLocation = {
        'longitude' : '',
        'latitude'  : ''
    };

    // Shows div to add sighting
    function askSightingManner(){
        addButton.style.display = 'none';
        addDiv.style.display = 'block';
        confirmDiv.style.display = 'none';
    }

    function setAnimal(animal, animalName, button){
        clearSetAnimal();

        let buttonImage = button.getElementsByClassName("animalImg")[0]
        for (let other of document.getElementsByClassName("animalImg")){
            if(other != buttonImage){
                other.classList.add("NonSelectedAnimal");
            }else{
                other.classList.remove("NonSelectedAnimal");
            }
        }

        button.classList.add("selectedAnimal");
        selectedAnimal = +animal;
        selectedAnimalName = animalName;
        
        if(selectedLocation['latitude'] != ''){
            enableConfirmButton();
        }
    }

    function clearSetAnimal(){
        let others = document.getElementsByClassName("selectedAnimal");
        for( let other of others){
            other.classList.remove("selectedAnimal");
        }

        for(let other of document.getElementsByClassName("animalImg")){
            other.classList.remove("NonSelectedAnimal");
        }
    }

    function clearSetManner(){
        let others = document.getElementsByClassName("selectedManner");
        for( let other of others){
            other.classList.remove("selectedManner");
        }

    }

    function setManner(manner, button){
        clearSetManner();

        settingLocation = true;

        button.classList.add("selectedManner");
        selectedManner = manner;
    }

    function enableConfirmButton(){
        (confirmButton).disabled = false;
    }

    function sendPostRequest(){
        const url = "http://127.0.0.1:8000/addSighting";
        const data = {
            "animal": selectedAnimal,
            "latitude": selectedLocation["latitude"],
            "longitude": selectedLocation["longitude"],
            "id_submitted": ID_text_input.value,
        };

        console.log();

        const headers = {
            'Content-Type': 'application/json', // You can adjust this as needed
        };

        fetch(url, {
            method: 'POST',
            headers: headers,
            body: JSON.stringify(data)
        }).then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            console.log(data);
            document.getElementById("addedConfirmSpan").style.display = "inline";

            addPoint(selectedLocation["latitude"],selectedLocation["longitude"],1);
            selectedAnimal = 0
            selectedAnimalName = "";
            selectedLocation = {
                'longitude' : '',
                'latitude'  : ''
            };
            (confirmButton).disabled = true;
        })
        .catch(error => {
            alert("Enter an ID")            
        });
        
    }

    SOS_button = document.getElementById("SOSButton");
    var beep;

    function sendSOS(){
        if(!beep || beep.paused){
            beep = new Audio("{% static 'loud_beep.mp3' %}");
            beep.loop = true;
            beep.volume = 1.0;
            
            beep.play();

            //alert("Medical Center - +91-6969696969\nVeterinarian - +91-6969696969\nWarden - +91-6969696969");
            
            SOS_button.classList.add("flashingButton");
            showAlert();
        }else{
            beep.pause();
            SOS_button.classList.remove("flashingButton");
        }
    }

    function showAlert() {
        var customAlert = document.getElementById("customAlert");
        customAlert.style.display = "block";
    }
    
    function closeAlert() {
        var customAlert = document.getElementById("customAlert");
        customAlert.style.display = "none";
    }

</script>

</html>
