<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet.heat@0.2.0/dist/leaflet-heat.js"></script>
</head>


<style>
    #map{
        cursor: pointer;
    }

    table {
        cursor: default;
        border-collapse: collapse;
    }
    table, th, td{
        border: 2px solid black;
    }
    .sightingRow{
        transition: all 0.25s ease;

    }
    .sightingRow:hover{
        background-color: aquamarine;
    }

    #AddPointDiv{
        display: none;
    }

    #addPointButton{
        display: block;
    }

    .selectedAnimal, .selectedManner {
        background-color: lime;
    }

    #askForClick {
        display: none;
    }
</style>

<body onload="addSightingsToMap()">
    <div id="map" style="width: 100%; height: 600px;"></div>
    
    <!-- Add a new point -->
    <button onclick="askSightingManner()" id="addPointButton">  Add a sighting </button>
    <div id="AddPointDiv">
        <div class="addingManner">
            <button onclick="setManner('click', this); askForClick()" id="askForClicking">       Click to Add </button>
            <button onclick="setManner('ask', this); getLocation()" id="askForLocation">    Automatically Locate </button>
        </div>
        
        <div class="addAnimal">
            {% for animal in animals %}
                <button onclick="setAnimal('{{animal.id}}', this)"> {{animal.animal}} </button>
            {% endfor %}
        </div>

        <div id="addConfirmation">
            <!-- <div id="selectedInfo"></div> -->
            <button onclick="sendPostRequest()">
                Please Click To Confirm
            </button>
        </div>

        <div id="askForClick">
            Please Click on the map, where the sighting occurred
        </div> 

        <button onclick="cancelAdding()" id="cancelAdding"> Cancel </button>
    </div>

    <!-- Table -->
    <div>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Animal</th>
                <th>Last Seen</th>
            </tr>
        </thead>
        <tbody>
            {% for sighting in sightings %}
            <tr class="sightingRow"
                onmouseenter="addMapMarker('{{sighting.latitude}}', '{{sighting.longitude}}', '{{sighting.animalType.animal}}')"
                onmouseleave="removeMapMarker()">
                <td>{{ sighting.id }}</td>
                <td>{{ sighting.animalType.animal }}</td>
                <td>{{ sighting.dateTime }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
</body>

<script>
    const x = 17.543610;
    const y = 78.574729;
    var map = L.map('map', {
        minZoom: 16,
        maxZoom: 18,
        maxBounds: [
            [17.550314, 78.565750],
            [17.536213, 78.580764]
        ]
    }).setView([x, y], 16);
    let max_heat_map_val = 0;

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        //maxZoom: 17,
        attribution: '© OpenStreetMap contributors'
    }).addTo(map);

    map.on('click', function(e) {
        if(settingLocation == false){
            return;
        }
        var lat = e.latlng.lat; // Latitude of the clicked point
        var lng = e.latlng.lng; // Longitude of the clicked point
        
        selectedLocation['latitude'] = "" + lat;
        selectedLocation['longitude'] = "" + lng;
        settingLocation = false;
        askForClickDiv.style.display = 'none';

        if(selectedAnimal != ""){
            askForConfirmationOnAdd();
        }
        //console.log("clicked at: " + lat + ", " + lng);
    })

    // Create an empty array to store heatmap data
    var heatmapData = [];

    // Create a heatmap layer using Leaflet.heat
    var heatmapLayer = L.heatLayer(heatmapData, {
        radius: 30, // Adjust the radius
        max: 1.0,   // Adjust the maximum
    }).addTo(map);

    // Function to add a random point to the heatmap
    function addRandomPoint() {
        var randomLat = x + Math.random() * 0.005; // Adjust latitude range as needed
        var randomLong = y + Math.random() * 0.005; // Adjust longitude range as needed
        var randomIntensity = 1 ;
        
        addPoint(randomLat, randomLong, randomIntensity);
    }

    function clearPoints(){
        heatmapData = [];
        max_heat_map_val = 0;

        map.removeLayer(heatmapLayer);
        heatmapLayer = L.heatLayer(heatmapData, {
            radius: 10,
            max: 0.1,
        }).addTo(map);

        console.log("Cleared all points; Current max: ", max_heat_map_val);

    }

    function addPoint(lat, long, intensity){
        var newPoint = [lat, long, intensity];
        heatmapData.push(newPoint);

        if(intensity > max_heat_map_val)
            max_heat_map_val = intensity;

        map.removeLayer(heatmapLayer);
        heatmapLayer = L.heatLayer(heatmapData, {
            radius: 10,
            max: 0.1,
        }).addTo(map);

        //console.log('Added new point:', newPoint, " Current max: ", max_heat_map_val);
    }

    // Not very accurate, gets location using location API
    function getLocation(){
        if (settingLocation == true && 'geolocation' in navigator) {
            navigator.geolocation.getCurrentPosition(function(position) {
                var latitude = position.coords.latitude;
                var longitude = position.coords.longitude;
                
                selectedLocation['latitude'] = `${latitude}`;
                selectedLocation['longitude'] = `${longitude}`;

                settingLocation = false;
                askForConfirmationOnAdd();

                console.log(`${latitude},${longitude}`)
            });
        } else {
            console.error('Geolocation is not available in this browser.');
        }
    }

    // adds sightings from passed context to map
    function addSightingsToMap(){
        let lat = 0
        let long = 0 
        {%for sighting in sightings%}
            lat = +'{{sighting.latitude}}'
            long = +'{{sighting.longitude}}'
            addPoint(lat, long, 1);
        {% endfor %}
        
    }

    var customDogMarker = L.icon({
        iconUrl: 'https://i.imgur.com/RoBYgu4.jpg',
        iconSize: [32, 32], // width and height of the icon in pixels
        iconAnchor: [16, 16], // position of the icon anchor (centered at the bottom)
        popupAnchor: [0, -32] // position of the popup anchor (above the icon)
    });

    var customCatMarker  = L.icon({
        iconUrl: 'https://i.imgur.com/OnMZWPP.jpg',
        iconSize: [32, 32], // width and height of the icon in pixels
        iconAnchor: [16, 16], // position of the icon anchor (centered at the bottom)
        popupAnchor: [0, -32] // position of the popup anchor (above the icon)
    });

    let markers = {
        'Dog': customDogMarker,
        'Cat': customCatMarker
    }

    // For when you hover on table
    var currentHoverMarker = null;

    // Adds marker when you hover on table
    function addMapMarker(latitude, longitude, animal){
        if(currentHoverMarker != null){
            map.removeLayer(currentHoverMarker);
            currentHoverMarker = null;
        }

        currentHoverMarker = L.marker([+latitude, +longitude], {icon: markers[animal]}).addTo(map);
    }

    // Removes marker when you stop hovering
    function removeMapMarker(){
        if(currentHoverMarker != null){
            map.removeLayer(currentHoverMarker);
            currentHoverMarker = null;
        }
    }

    const addButton = document.getElementById("addPointButton");
    const addDiv = document.getElementById("AddPointDiv");
    const confirmDiv = document.getElementById('addConfirmation');
    const selectedInfo = document.getElementById('selectedInfo');
    const askForClickDiv = document.getElementById('askForClick');

    var selectedAnimal = 0;
    var selectedManner = "";
    var settingLocation = false;

    var selectedLocation = {
        'longitude' : '',
        'latitude'  : ''
    };

    // Shows div to add sighting
    function askSightingManner(){
        addButton.style.display = 'none';
        addDiv.style.display = 'block';
        confirmDiv.style.display = 'none';
    }

    // Removes div shows button
    function cancelAdding(){
        addButton.style.display = 'block';
        addDiv.style.display = 'none';
        confirmDiv.style.display = 'none';
    }

    function setAnimal(animal, button){
        let others = document.getElementsByClassName("selectedAnimal");
        for( let other of others){
            other.classList.remove("selectedAnimal");
        }

        button.classList.add("selectedAnimal");
        selectedAnimal = +animal;
        
        if(selectedLocation['latitude'] != ''){
            askForConfirmationOnAdd();
        }
    }

    function askForClick(){
        askForClickDiv.style.display = 'block';
    }

    function setManner(manner, button){
        let others = document.getElementsByClassName("selectedManner");
        for( let other of others){
            other.classList.remove("selectedManner");
        }

        settingLocation = true;

        button.classList.add("selectedManner");
        selectedManner = manner;
    }

    function askForConfirmationOnAdd(){
        //selectedInfo.innerHTML = selectedAnimal + " sighting at " + selectedLocation['latitude'] + ", " + selectedLocation['longitude'] + " please confirm";
        confirmDiv.style.display = 'block';
    }

    function sendPostRequest(){
        const url = "http://127.0.0.1:8000/addSighting";
        const data = {
            "animal": selectedAnimal,
            "latitude": selectedLocation["latitude"],
            "longitude": selectedLocation["longitude"]
        };

        const headers = {
            'Content-Type': 'application/json', // You can adjust this as needed
        };

        fetch(url, {
            method: 'POST',
            headers: headers,
            body: JSON.stringify(data)
        })
        .catch(error => {
            console.error('Error:', error);
        });
        addPoint(selectedLocation["latitude"],selectedLocation["longitude"],1);
    }
</script>

</html>
